/* Admin App Global Styles */

.sider-logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.app-header {
  padding: 0 24px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #f0f0f0;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
